/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
    --box-blue: #92cccd;
    --header-grey: #31343d;
    --page-background: #ededf6;
    --aside-font: #445876;
    color: var(--aside-font);
    
}

/* justify content space between allows the header andn links to align to the sides
Padding can be adjusted to make the size of the header
To change the font of the links, I changed the font size in nav-li
*/

header {
    background-color: var(--header-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    color: var(--box-blue);
}


header .titleHeader {
    color: whitesmoke;
    padding-left: 1%;
}


nav ul li a {
    color: var(--box-blue);
    text-decoration: none;
}

/* How to make it go up? */
.nav-li {
    font-size: 20px;
    float: right;
    list-style: none;
    display: inline;
    padding-right: 15px;
    color: var(--box-blue);
}

/*  LOOK UP BACKGROUND IMAGE */
.cool-subtitle {
    display: flex;
    color: var(--box-blue);
    justify-content: right;
    background-image: url("../images/img-header.jpg");
    background-position:center;
    font-size:20px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;

}

/* body style starts here */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: #2d2d2d;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;


}

/* this is my first column */
.sidebar {
    width: 15%;
    border-right: 5px solid var(--header-grey);
    text-align: right;
    font-size: 1.5rem;
    padding-right: 2%;
}

/* 2nd column */
.content {
    width: 77%;
    display: flex;
    justify-content: space-between;
}

#work-container {
    background-color: var(--box-blue);
    flex-wrap: wrap;
}

.card {
    width: 48%;
    height: 35vh; 
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    padding: 1%;
    margin:1%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:2px solid black;
}

.main-card {
    width: 97%;
    background-image: url(../images/img-surfreport.jpg);
}

.project-title{
    background-color: var(--header-grey);
    color: var(--box-blue);
    font-size: 1.5rem;
    margin: 1%;
    padding: 1%;
    border-color: var(--box-blue);
    border: solid 2px;
    
} 
.card1 {
    background-image: url(../images/img-calculator.jpg);

}

.card2 {
    background-image: url(../images/img-LED.jpg);

}

.card3 {
    background-image: url(../images/img-runbuddy.jpg);
}

.card4 {
    background-image: url(../images/jj.jpeg);

}


.content ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 77%;
    list-style: none;
}
.content a {
   text-decoration: none;
   color: #445876;
}

footer {
 display: flex;  
 flex-direction: column; 
 align-items: center;

}
footer h1,p  {
    margin: 1%;
}
/* body style ends here */