


/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
    --box-blue: #92cccd;
    --header-grey: #31343d;
    --page-background: #ededf6;
}

/* Universal Selector */
* {
    margin: 10px;;
    padding: 10px;;  

    
}
/* Elememt selectors */

header {

}
.title {
   float:left;
    font-size:50px;
    font-weight: 50px;
  }

.nav-li {
list-style: none;
display: inline;
padding-right: 15px;
} 
 .nav-ul {
    float: right;
 }
img{
    width: auto;

}
